<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="toolbar">
      <strong>Log Sleep </strong>
      <ion-icon name="moon"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="toolbar"><strong>Log Sleep </strong>
        <ion-icon name="moon"></ion-icon>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="grid-container">
    <div class="logBed">
      <h2>What time did you go to sleep?</h2>
    </div>

    <ion-item class="centered-item">
        <app-date1 (date1Selected)="onDate1Selected($event)"></app-date1>
    </ion-item>

    <div class="logBed">
      <h2>What time did you wake up?</h2>
    </div>

    <ion-item>
      <app-date2 (date2Selected)="onDate2Selected($event)"></app-date2>
    </ion-item>

    <div class="centered-container">
      <ion-button size="large" class="logButton" (click)="getSleepTimes()">Log Sleep</ion-button>
    </div>
  </div>
</ion-content>